<header class="header">
    <div class="header_left">
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item">
                    <a class="nav_link" href="#">Сириус</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link" href="#">Новости</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link  has-subnav" href="#">Достопримечательности</a>

                    <ul class="subnav">
                        <li>
                            <a class="subnav_link" href="#">Поющий фонтан</a>
                        </li>
                        <li>
                            <a class="subnav_link" href="#">Айсберг</a>
                        </li>
                        <li>
                            <a class="subnav_link" href="#">Фишт</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

<!--
        <button class="burger" type="button" id="sidebarToggle">
            <span>Открыть навигацию</span>
        </button>
-->

    </div>
    <div class="header_right">
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item">
                    <a class="nav_link" href="#">Личный кабинет</a>
                </li>
            </ul>
        </nav>

        <form class="search" action="#" method="get">
            <input class="search_input" type="text" placeholder="Поиск по странице">
        </form>
    </div>
</header>
